//@formatter:off
{
  "env": {
    "browser": true,
    "node": true,
    "es6": false
  },
  "globals": {
    "jQuery": false,
    "$": false
  },
  "rules": {
    "strict": 0,
    "no-underscore-dangle": 0,
    "quotes": [0, "double", "avoid-escape"],
    "indent": [2, 4],
    "brace-style": [2, "1tbs"],
    // make this one a two when closer to production
    "no-alert": 2
  }
}
//@formatter:on
